<style></style>
@model IEnumerable<Assignment4.Models.ViewImage>
@{
    ViewBag.Title = "Images";
}
@foreach (var image in Model)
{
    <img src="@image.url" alt="@image.Title" data-description="@image.Description" onclick="showDescription(this)">
    @using (Html.BeginForm("EditImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="text" name="Id" style="display:none;" value=@image.Id.ToString()>
            <input type="file" id="myfile" name="Image" />
            <input type="submit" value="Edit" class="btn btn-default" />
        }
        @using (Html.BeginForm("EditDescription", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="text" name="Id" style="display:none;" value=@image.Id.ToString()>
            <input type="text" id="Description" name="description" />
            <input type="submit" value="Edit" class="btn btn-default" />
        }
}

<div id="description-container"></div>

<script>
    function showDescription(image) {
        var description = image.dataset.description;
        document.getElementById("description-container").innerHTML = description;
    }
</script>
